# pandas

In [1]:
import pandas as pd

In [2]:
list=["a","b","c","d","e","f","g","h","i"]

In [3]:
#Series is an object to make series in pandas(data=None, index=None, dtype=None, name=None, copy=False, fastpath=False)
list_serie=pd.Series(data=list)

In [4]:
list_serie

0    a
1    b
2    c
3    d
4    e
5    f
6    g
7    h
8    i
dtype: object

In [5]:
car={"fooluks":"german","toyota":"japan","ford":"usa","saypa":"iran"}
s=pd.Series(car)
s

fooluks    german
toyota      japan
ford          usa
saypa        iran
dtype: object

# series attribute an methods

diffrence between attributes and methods (attributes don't need paranteses but methods need)

attribute

In [6]:
lst=[1,2,3,4,5,6,7,8,9]
s=pd.Series(lst)
s

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [7]:
s.values

array([1, 2, 3, 4, 5, 6, 7, 8, 9], dtype=int64)

In [8]:
s.index

RangeIndex(start=0, stop=9, step=1)

In [9]:
#o :object   int:number    float:decimal
s.dtype

dtype('int64')

methods

In [10]:
s.sum()

45

In [11]:
s.product()

362880

In [12]:
s.mean()

5.0

# parameter and argument

In [13]:
countries=["denmark","finland","norway","iceland","sweden"]
capitals=["copenhang","helsinki","oslo","reyjavik","stockholm"]

In [14]:
serie=pd.Series(data=countries , index=capitals)
serie

copenhang    denmark
helsinki     finland
oslo          norway
reyjavik     iceland
stockholm     sweden
dtype: object

In [15]:
#usecols for choosing the column and squeeze for changing it to be a serie
data=pd.read_csv("D:\\tala\\data science projects\\dr.fozouni\\jamesbond.csv" , usecols=["Film"] , squeeze=True)#index_col=["Film"]
data

C:\Users\Science Pillar\AppData\Local\Temp\ipykernel_6052\3486438417.py:2: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  data=pd.read_csv("D:\\tala\\data science projects\\dr.fozouni\\jamesbond.csv" , usecols=["Film"] , squeeze=True)#index_col=["Film"]

0                              Dr. No
1               From Russia with Love
2                          Goldfinger
3                         Thunderball
4                       Casino Royale
5                 You Only Live Twice
6     On Her Majesty's Secret Service
7                Diamonds Are Forever
8                    Live and Let Die
9         The Man with the Golden Gun
10               The Spy Who Loved Me
11                          Moonraker
12                 For Your Eyes Only
13              Never Say Never Again
14                          Octopussy
15                   A View to a Kill
16               The Living Daylights
17                    Licence to Kill
18                          GoldenEye
19                Tomorrow Never Dies
20            The World Is Not Enough
21                    Die Another Day
22                      Casino Royale
23                  Quantum of Solace
24                            Skyfall
25                            Spectre
Name: Film, dtype: object

In [16]:
data.is_unique

False

In [17]:
data.shape

(26,)

In [18]:
data.ndim

1

In [19]:
data.size

26

In [20]:
len(data)

26

# functions

In [21]:
##chain
# .sort_value() is  sorting our data
data.sort_values()# .sort_values(ascending=False)

15                   A View to a Kill
22                      Casino Royale
4                       Casino Royale
7                Diamonds Are Forever
21                    Die Another Day
0                              Dr. No
12                 For Your Eyes Only
1               From Russia with Love
18                          GoldenEye
2                          Goldfinger
17                    Licence to Kill
8                    Live and Let Die
11                          Moonraker
13              Never Say Never Again
14                          Octopussy
6     On Her Majesty's Secret Service
23                  Quantum of Solace
24                            Skyfall
25                            Spectre
16               The Living Daylights
9         The Man with the Golden Gun
10               The Spy Who Loved Me
20            The World Is Not Enough
3                         Thunderball
19                Tomorrow Never Dies
5                 You Only Live Twice
Name: Film, dtype: object

In [22]:
#data.sort_values(ascending= False , inplace=False) index is fixing
data.sort_values().head()

15        A View to a Kill
22           Casino Royale
4            Casino Royale
7     Diamonds Are Forever
21         Die Another Day
Name: Film, dtype: object

In [23]:
data.sort_index().head()

0                   Dr. No
1    From Russia with Love
2               Goldfinger
3              Thunderball
4            Casino Royale
Name: Film, dtype: object

In [24]:
# is "Goldfinger" in the indexes?
"Goldfinger" in data

False

In [25]:
# is "Goldfinger" in the values?
"Goldfinger" in data.values

True

In [26]:
#what is the value of the index numbe?
data[4]

'Casino Royale'

In [27]:
data[[2,4,7]]

2              Goldfinger
4           Casino Royale
7    Diamonds Are Forever
Name: Film, dtype: object

In [28]:
data[5:8]

5                You Only Live Twice
6    On Her Majesty's Secret Service
7               Diamonds Are Forever
Name: Film, dtype: object

In [29]:
data[-4:]

22        Casino Royale
23    Quantum of Solace
24              Skyfall
25              Spectre
Name: Film, dtype: object

In [30]:
#for forbiden of errors
data.get([100] , default="it isnt in data")

'it isnt in data'

In [31]:
# in count if we have null value it wont count then but in len it will count them too
data.count()

26

In [32]:
s.std()

2.7386127875258306

In [33]:
s.min()

1

In [34]:
s.max()

9

In [35]:
s.median()

5.0

In [36]:
s.describe()

count    9.000000
mean     5.000000
std      2.738613
min      1.000000
25%      3.000000
50%      5.000000
75%      7.000000
max      9.000000
dtype: float64

In [37]:
#minimum amount is in which index
s.idxmin()

0

In [38]:
s.idxmax()

8

In [39]:
#showing frequency in values
a=[1,2,3,1,2,4,5,6,3,4,8]
b=pd.Series(a)
b.value_counts()

1    2
2    2
3    2
4    2
5    1
6    1
8    1
dtype: int64

In [40]:
# apply method in functions
def satisfy(x):
    if x<=3:
        return "bad"
    elif x>4 and x<=6:
        return "normal"
    else:
        return "good"

In [41]:
b.apply(satisfy)

0        bad
1        bad
2        bad
3        bad
4        bad
5       good
6     normal
7     normal
8        bad
9       good
10      good
dtype: object

In [42]:
b.apply(lambda x:x+1)

0     2
1     3
2     4
3     2
4     3
5     5
6     6
7     7
8     4
9     5
10    9
dtype: int64

# dataframes

In [43]:
df=pd.read_csv("D:\\tala\\data science projects\\dr.fozouni\\jamesbond.csv")
df

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
5,You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
6,On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
7,Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
8,Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
9,The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
10,The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
11,Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
12,For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
13,Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
14,Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
15,A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
16,The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
17,Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
18,GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
19,Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
20,The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
21,Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
22,Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
23,Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
24,Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
25,Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [44]:
df.index

RangeIndex(start=0, stop=26, step=1)

In [45]:
df.values

array([['Dr. No', 1962, 'Sean Connery', 'Terence Young', 448.8, 7.0, 0.6],
       ['From Russia with Love', 1963, 'Sean Connery', 'Terence Young',
        543.8, 12.6, 1.6],
       ['Goldfinger', 1964, 'Sean Connery', 'Guy Hamilton', 820.4, 18.6,
        3.2],
       ['Thunderball', 1965, 'Sean Connery', 'Terence Young', 848.1,
        41.9, 4.7],
       ['Casino Royale', 1967, 'David Niven', 'Ken Hughes', 315.0, 85.0,
        nan],
       ['You Only Live Twice', 1967, 'Sean Connery', 'Lewis Gilbert',
        514.2, 59.9, 4.4],
       ["On Her Majesty's Secret Service", 1969, 'George Lazenby',
        'Peter R. Hunt', 291.5, 37.3, 0.6],
       ['Diamonds Are Forever', 1971, 'Sean Connery', 'Guy Hamilton',
        442.5, 34.7, 5.8],
       ['Live and Let Die', 1973, 'Roger Moore', 'Guy Hamilton', 460.3,
        30.8, nan],
       ['The Man with the Golden Gun', 1974, 'Roger Moore',
        'Guy Hamilton', 334.0, 27.7, nan],
       ['The Spy Who Loved Me', 1977, 'Roger Moore', 'Lewis Gilbert',
        533.0, 45.1, nan],
       ['Moonraker', 1979, 'Roger Moore', 'Lewis Gilbert', 535.0, 91.5,
        nan],
       ['For Your Eyes Only', 1981, 'Roger Moore', 'John Glen', 449.4,
        60.2, nan],
       ['Never Say Never Again', 1983, 'Sean Connery', 'Irvin Kershner',
        380.0, 86.0, nan],
       ['Octopussy', 1983, 'Roger Moore', 'John Glen', 373.8, 53.9, 7.8],
       ['A View to a Kill', 1985, 'Roger Moore', 'John Glen', 275.2,
        54.5, 9.1],
       ['The Living Daylights', 1987, 'Timothy Dalton', 'John Glen',
        313.5, 68.8, 5.2],
       ['Licence to Kill', 1989, 'Timothy Dalton', 'John Glen', 250.9,
        56.7, 7.9],
       ['GoldenEye', 1995, 'Pierce Brosnan', 'Martin Campbell', 518.5,
        76.9, 5.1],
       ['Tomorrow Never Dies', 1997, 'Pierce Brosnan',
        'Roger Spottiswoode', 463.2, 133.9, 10.0],
       ['The World Is Not Enough', 1999, 'Pierce Brosnan',
        'Michael Apted', 439.5, 158.3, 13.5],
       ['Die Another Day', 2002, 'Pierce Brosnan', 'Lee Tamahori', 465.4,
        154.2, 17.9],
       ['Casino Royale', 2006, 'Daniel Craig', 'Martin Campbell', 581.5,
        145.3, 3.3],
       ['Quantum of Solace', 2008, 'Daniel Craig', 'Marc Forster', 514.2,
        181.4, 8.1],
       ['Skyfall', 2012, 'Daniel Craig', 'Sam Mendes', 943.5, 170.2,
        14.5],
       ['Spectre', 2015, 'Daniel Craig', 'Sam Mendes', 726.7, 206.3, nan]],
      dtype=object)

In [46]:
df.shape

(26, 7)

In [47]:
df.dtypes

Film                  object
Year                   int64
Actor                 object
Director              object
Box Office           float64
Budget               float64
Bond Actor Salary    float64
dtype: object

In [48]:
df.head(1)

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6

In [49]:
df.dtypes.value_counts()

object     3
float64    3
int64      1
dtype: int64

In [50]:
df.columns

Index(['Film', 'Year', 'Actor', 'Director', 'Box Office', 'Budget',
       'Bond Actor Salary'],
      dtype='object')

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Film               26 non-null     object
 1   Year               26 non-null     int64
 2   Actor              26 non-null     object
 3   Director           26 non-null     object
 4   Box Office         26 non-null     float64
 5   Budget             26 non-null     float64
 6   Bond Actor Salary  18 non-null     float64
dtypes: float64(3), int64(1), object(3)
memory usage: 1.5+ KB

In [52]:
#select one column
#df["Year"]
df.Year.head()

0    1962
1    1963
2    1964
3    1965
4    1967
Name: Year, dtype: int64

In [53]:
df[["Year" ,"Actor"]].head()

   Year         Actor
0  1962  Sean Connery
1  1963  Sean Connery
2  1964  Sean Connery
3  1965  Sean Connery
4  1967   David Niven

In [54]:
#reorder you dataframe 
new_column=["Film","Actor","Year"]
df[new_column].head()

                    Film         Actor  Year
0                 Dr. No  Sean Connery  1962
1  From Russia with Love  Sean Connery  1963
2             Goldfinger  Sean Connery  1964
3            Thunderball  Sean Connery  1965
4          Casino Royale   David Niven  1967

In [55]:
df["Bond Actor Salary"].min()

0.6

In [56]:
df["Bond Actor Salary"].max()

17.9

In [57]:
df["Bond Actor Salary"].round()

0      1.0
1      2.0
2      3.0
3      5.0
4      NaN
5      4.0
6      1.0
7      6.0
8      NaN
9      NaN
10     NaN
11     NaN
12     NaN
13     NaN
14     8.0
15     9.0
16     5.0
17     8.0
18     5.0
19    10.0
20    14.0
21    18.0
22     3.0
23     8.0
24    14.0
25     NaN
Name: Bond Actor Salary, dtype: float64

In [58]:
# adding column in middle of dataframe
df.insert(3 , column="hello" , value="good") #index=3 , name , value
df.head()

,Film,Year,Actor,hello,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,good,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,good,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,good,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sean Connery,good,Terence Young,848.1,41.9,4.7
4,Casino Royale,1967,David Niven,good,Ken Hughes,315.0,85.0,NaN

In [59]:
#add() we add all amounts of column 
df["Budget"].add(2)
#df["Budget"]+2

0       9.0
1      14.6
2      20.6
3      43.9
4      87.0
5      61.9
6      39.3
7      36.7
8      32.8
9      29.7
10     47.1
11     93.5
12     62.2
13     88.0
14     55.9
15     56.5
16     70.8
17     58.7
18     78.9
19    135.9
20    160.3
21    156.2
22    147.3
23    183.4
24    172.2
25    208.3
Name: Budget, dtype: float64

In [60]:
#we decrease unit each amounts of column
df["Budget"].sub(2)
#df["Budget"]-2

0       5.0
1      10.6
2      16.6
3      39.9
4      83.0
5      57.9
6      35.3
7      32.7
8      28.8
9      25.7
10     43.1
11     89.5
12     58.2
13     84.0
14     51.9
15     52.5
16     66.8
17     54.7
18     74.9
19    131.9
20    156.3
21    152.2
22    143.3
23    179.4
24    168.2
25    204.3
Name: Budget, dtype: float64

In [61]:
# multiply all amounts of column
df["Budget"].mul(2)
#df["Budget"]*2

0      14.0
1      25.2
2      37.2
3      83.8
4     170.0
5     119.8
6      74.6
7      69.4
8      61.6
9      55.4
10     90.2
11    183.0
12    120.4
13    172.0
14    107.8
15    109.0
16    137.6
17    113.4
18    153.8
19    267.8
20    316.6
21    308.4
22    290.6
23    362.8
24    340.4
25    412.6
Name: Budget, dtype: float64

In [62]:
#diviging each value of column
df["Budget"].div(2)
#df["Budget"]/2

0       3.50
1       6.30
2       9.30
3      20.95
4      42.50
5      29.95
6      18.65
7      17.35
8      15.40
9      13.85
10     22.55
11     45.75
12     30.10
13     43.00
14     26.95
15     27.25
16     34.40
17     28.35
18     38.45
19     66.95
20     79.15
21     77.10
22     72.65
23     90.70
24     85.10
25    103.15
Name: Budget, dtype: float64

# dealing with null values

In [63]:
#droping the rows which had null values
df.dropna() #df.dropna(how="all") if all of values in row be null and inplace have to be True (defailt axis=0)
#df.dropna(how="any" , subset=["Year"]) deleting rows wich null values are in year columns

,Film,Year,Actor,hello,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,good,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,good,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,good,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sean Connery,good,Terence Young,848.1,41.9,4.7
5,You Only Live Twice,1967,Sean Connery,good,Lewis Gilbert,514.2,59.9,4.4
6,On Her Majesty's Secret Service,1969,George Lazenby,good,Peter R. Hunt,291.5,37.3,0.6
7,Diamonds Are Forever,1971,Sean Connery,good,Guy Hamilton,442.5,34.7,5.8
14,Octopussy,1983,Roger Moore,good,John Glen,373.8,53.9,7.8
15,A View to a Kill,1985,Roger Moore,good,John Glen,275.2,54.5,9.1
16,The Living Daylights,1987,Timothy Dalton,good,John Glen,313.5,68.8,5.2
17,Licence to Kill,1989,Timothy Dalton,good,John Glen,250.9,56.7,7.9
18,GoldenEye,1995,Pierce Brosnan,good,Martin Campbell,518.5,76.9,5.1
19,Tomorrow Never Dies,1997,Pierce Brosnan,good,Roger Spottiswoode,463.2,133.9,10.0
20,The World Is Not Enough,1999,Pierce Brosnan,good,Michael Apted,439.5,158.3,13.5
21,Die Another Day,2002,Pierce Brosnan,good,Lee Tamahori,465.4,154.2,17.9
22,Casino Royale,2006,Daniel Craig,good,Martin Campbell,581.5,145.3,3.3
23,Quantum of Solace,2008,Daniel Craig,good,Marc Forster,514.2,181.4,8.1
24,Skyfall,2012,Daniel Craig,good,Sam Mendes,943.5,170.2,14.5

In [64]:
#filling the null values
#df.fillna(value=) if you see null  , fill it 0

In [65]:
#we onlu fill the null value of director  column with 0
df["Director"].fillna(0 , inplace=True)

In [66]:
df["Bond Actor Salary"].isnull().sum()

8

In [67]:
df["Bond Actor Salary"].mean()

6.85

In [72]:
df["Bond Actor Salary"].fillna(6.8 , inplace=True)

In [73]:
#changing the types of columns
df["Bond Actor Salary"]=df["Bond Actor Salary"].astype("int")

In [75]:
df["Bond Actor Salary"].dtype

dtype('int32')

In [76]:
df["Actor"].dtype

dtype('O')

In [79]:
df["Actor"].unique()

array(['Sean Connery', 'David Niven', 'George Lazenby', 'Roger Moore',
       'Timothy Dalton', 'Pierce Brosnan', 'Daniel Craig'], dtype=object)

In [83]:
df["Actor"]=df["Actor"].astype("category" )

In [84]:
df["Actor"].dtype

CategoricalDtype(categories=['Daniel Craig', 'David Niven', 'George Lazenby',
                  'Pierce Brosnan', 'Roger Moore', 'Sean Connery',
                  'Timothy Dalton'],
, ordered=False)

In [85]:
df.head()

,Film,Year,Actor,hello,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,good,Terence Young,448.8,7.0,0
1,From Russia with Love,1963,Sean Connery,good,Terence Young,543.8,12.6,1
2,Goldfinger,1964,Sean Connery,good,Guy Hamilton,820.4,18.6,3
3,Thunderball,1965,Sean Connery,good,Terence Young,848.1,41.9,4
4,Casino Royale,1967,David Niven,good,Ken Hughes,315.0,85.0,6

# sort values()

In [92]:
df.sort_values("Box Office" , ascending=True , inplace=True , na_position= True)# na_position :the null value position
df.head()

,Film,Year,Actor,hello,Director,Box Office,Budget,Bond Actor Salary
17,Licence to Kill,1989,Timothy Dalton,good,John Glen,250.9,56.7,7
15,A View to a Kill,1985,Roger Moore,good,John Glen,275.2,54.5,9
6,On Her Majesty's Secret Service,1969,George Lazenby,good,Peter R. Hunt,291.5,37.3,0
16,The Living Daylights,1987,Timothy Dalton,good,John Glen,313.5,68.8,5
4,Casino Royale,1967,David Niven,good,Ken Hughes,315.0,85.0,6

In [96]:
df.sort_values(["hello" , "Director"] , ascending=[True , False])# first proirity is hello then director

,Film,Year,Actor,hello,Director,Box Office,Budget,Bond Actor Salary
9,The Man with the Golden Gun,1974,Roger Moore,good,Guy Hamilton,334.0,27.7,6
7,Diamonds Are Forever,1971,Sean Connery,good,Guy Hamilton,442.5,34.7,5
8,Live and Let Die,1973,Roger Moore,good,Guy Hamilton,460.3,30.8,6
2,Goldfinger,1964,Sean Connery,good,Guy Hamilton,820.4,18.6,3
13,Never Say Never Again,1983,Sean Connery,good,Irvin Kershner,380.0,86.0,6
17,Licence to Kill,1989,Timothy Dalton,good,John Glen,250.9,56.7,7
15,A View to a Kill,1985,Roger Moore,good,John Glen,275.2,54.5,9
16,The Living Daylights,1987,Timothy Dalton,good,John Glen,313.5,68.8,5
14,Octopussy,1983,Roger Moore,good,John Glen,373.8,53.9,7
12,For Your Eyes Only,1981,Roger Moore,good,John Glen,449.4,60.2,6
4,Casino Royale,1967,David Niven,good,Ken Hughes,315.0,85.0,6
21,Die Another Day,2002,Pierce Brosnan,good,Lee Tamahori,465.4,154.2,17
5,You Only Live Twice,1967,Sean Connery,good,Lewis Gilbert,514.2,59.9,4
10,The Spy Who Loved Me,1977,Roger Moore,good,Lewis Gilbert,533.0,45.1,6
11,Moonraker,1979,Roger Moore,good,Lewis Gilbert,535.0,91.5,6
23,Quantum of Solace,2008,Daniel Craig,good,Marc Forster,514.2,181.4,8
18,GoldenEye,1995,Pierce Brosnan,good,Martin Campbell,518.5,76.9,5
22,Casino Royale,2006,Daniel Craig,good,Martin Campbell,581.5,145.3,3
20,The World Is Not Enough,1999,Pierce Brosnan,good,Michael Apted,439.5,158.3,13
6,On Her Majesty's Secret Service,1969,George Lazenby,good,Peter R. Hunt,291.5,37.3,0
19,Tomorrow Never Dies,1997,Pierce Brosnan,good,Roger Spottiswoode,463.2,133.9,10
25,Spectre,2015,Daniel Craig,good,Sam Mendes,726.7,206.3,6
24,Skyfall,2012,Daniel Craig,good,Sam Mendes,943.5,170.2,14
0,Dr. No,1962,Sean Connery,good,Terence Young,448.8,7.0,0
1,From Russia with Love,1963,Sean Connery,good,Terence Young,543.8,12.6,1
3,Thunderball,1965,Sean Connery,good,Terence Young,848.1,41.9,4

# ranking

In [98]:
df["Budget"].rank(ascending=False)

17    15.0
15    16.0
6     20.0
16    12.0
4     10.0
9     23.0
14    17.0
13     9.0
20     4.0
7     21.0
0     26.0
12    13.0
8     22.0
19     7.0
21     5.0
5     14.0
23     2.0
18    11.0
10    18.0
11     8.0
1     25.0
22     6.0
25     1.0
2     24.0
3     19.0
24     3.0
Name: Budget, dtype: float64